* {
	margin: 0;
	padding: 0;
}

body{

	font-size: 100%;
	background: linear-gradient(68.15deg, #2f2325 16.62%, #8e5d52 85.61%);
	
	}
/* Cabeçalho */

header {

	max-width: 570px;
	box-sizing: border-box;
}

header nav {

    background: #5151cc;

}

header.navbar navbar-light bg-light fixed-top {
	padding-block-end: 5px;
	top: 0px;
	
}

header #Interacao:hover {

	color: rgb(41, 229, 38);
}

.d-flex {
	margin-left: auto;
	padding: 10px;
}


/* Fim Cabeçalho */

/* body */

.titletuto{
	text-align: center;
}

#TT {

	padding-top: 85px;
	text-align: center;
}

/* Fim body */

/*Main*/



#carouselExampleDark {
	
	max-width: 80%;
	margin: 85px auto;
	display: block;
}

.carousel-item img {
    width: 100vh;
    height: 60vh;
    object-fit: contain;
    
}
/* Fim Main*/

/*conteudos*/

.cardcont {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 150px 5px;
}

.card {
	flex: 1 1 150px;
	margin:  5px;
	padding: 5px;
}

#imgcont {
	object-fit: cover;
}

.card mb-3 {
	width: 700px;
}

.texto_geral_CSE {

	margin: 150px 20px;
}

.titulo_CSE {
	text-align: center;
	margin: 20px auto;
	font-size: clamp(1.75em, 1em + 3vw, 2.5em);
}

.texto_CSE {
	font-size: clamp(1em, 1em + 1vw, 1.25em);	
}

.texto_geral_CSR {

	margin: 150px 20px;
}

.titulo_CSR {
	text-align: center;
	margin: 20px auto;
	font-size: clamp(1.75em, 1em + 3vw, 2.5em);
}

.texto_CSR {
	font-size: clamp(1em, 1em + 1vw, 1.25em);	
}

.texto_geral_CSC {

	margin: 150px 20px;
}

.titulo_CSC {
	text-align: center;
	margin: 20px auto;
	font-size: clamp(1.75em, 1em + 3vw, 2.5em);
}

.texto_CSC {
	font-size: clamp(1em, 1em + 1vw, 1.25em);	
}

.texto_geral_R {

	margin: 150px 20px;
}

.titulo_R {
	text-align: center;
	margin: 20px auto;
	font-size: clamp(1.75em, 1em + 3vw, 2.5em);
}

.texto_R {
	font-size: clamp(1em, 1em + 1vw, 1.25em);	
}




/*Conteudos*/

/* body */

.selecoes {

	position: relative;
	display:block;
	margin: 0 auto;

}
.selecao {
	max-width: 1260px;
	width: 100%;
	display: block;
	position: flex;
	margin: 0 auto;
}



.card a {
	text-decoration: none;
}

/*jogos*/

/*.formatoseparacao{
	word-wrap:break-word;
	margin: 0 auto;
	flex-direction: column;
teste
}*/


.gm{
	max-width:80%;
	margin: 0 auto;
}


/* Fim body */

/*Rodapé*/



footer {
	text-align: center;
	background: #392620;
	display: block;
	max-width: 100%;
	max-height: 20%;
	padding-top: 20px;
	
	
}

footer .rodape img {
	max-width: 960px;
	width:10%;
	
}

footer .rodape .copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}


/* Fim Rodapé*/