
/* Cabeçalho */

header {

	position: absolute;
	max-width: 570px;

}

header nav {

    background: #5151cc;

}

header.navbar navbar-light bg-light fixed-top {
	padding-block-end: 5px;
	top: 0px;
	
}

header #pag_Inicial:hover {

	color: rgb(41, 229, 38);
}

.d-flex {
	margin-left: auto;
	padding: 10px;
}

/* Fim Cabeçalho */


/* body */


/* Fim body */

/*Main*/
#carouselExampleDark {
	
	max-width: 900px;
	margin: 100px auto;
	display: block;
}
/* Fim Main*/

/* body */

.selecao {
	max-width: 1260px;
	width: 100%;
	display: block;
	position: static;
	padding: 5%;
	margin: 0 auto;
}

.card {
	max-width: 210px;
	width: 215px;
	display: block;
	padding: 10px;
	
}

/* Fim body */

/*Rodapé*/
footer {
	text-align: center;
	background: #392620;
	display: block;
	max-height: 20%;
	top: 0;
	padding: 20px;
	
	
}

footer .rodape img {
	max-width: 960px;
	width:10%;
	
}

footer .rodape .copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}


/* Fim Rodapé*/