
/* Cabeçalho */

header {

	max-width: 570px;

}

header nav {

    background: #5151cc;

}

header.navbar navbar-light bg-light fixed-top {
	padding-block-end: 5px;
	top: 0px;
	
}

header #Interacao:hover {

	color: rgb(41, 229, 38);
}

.d-flex {
	margin-left: auto;
	padding: 10px;
}


/* Fim Cabeçalho */

/* body */

.titletuto{
	text-align: center;
}

#TT {

	padding-top: 85px;
	text-align: center;
}

/* Fim body */

/*Main*/



#carouselExampleDark {
	
	max-width: 80%;
	margin: 85px auto;
	display: block;
}

.carousel-item img {
    width: 100vh;
    height: 60vh;
    object-fit: contain;
    
}
/* Fim Main*/

/*coleta_seletiva_E, Main*/
.texto_geral_CSE {

	margin: 150px 20px;
}

.titulo_CSE {
	text-align: center;
	margin: 20px auto;
	font-size: clamp(1.75em, 1em + 3vw, 2.5em);
}

.texto_CSE {
	font-size: clamp(1em, 1em + 1vw, 1.25em);	
}

.texto_geral_CSR {

	margin: 150px 20px;
}

.titulo_CSR {
	text-align: center;
	margin: 20px auto;
	font-size: clamp(1.75em, 1em + 3vw, 2.5em);
}

.texto_CSR {
	font-size: clamp(1em, 1em + 1vw, 1.25em);	
}

.texto_geral_CSC {

	margin: 150px 20px;
}

.titulo_CSC {
	text-align: center;
	margin: 20px auto;
	font-size: clamp(1.75em, 1em + 3vw, 2.5em);
}

.texto_CSC {
	font-size: clamp(1em, 1em + 1vw, 1.25em);	
}






/*Fim coleta_seletiva_E, Main*/

/* body */

.selecoes {

	padding: 5px;
}
.selecao {
	max-width: 1260px;
	width: 100%;
	display: block;
	position: relative;
	margin: 0 auto;
}
.selecao2 {
	max-width: 1260px;
	width: 100%;
	display: block;
	position: relative;
	padding: 10px;
	margin: 0 auto;
}

.card {
	max-width: 210px;
	width: 215px;
	display: block;
	padding: 10px;
	
}

/* Fim body */

/*Rodapé*/



footer {
	text-align: center;
	background: #392620;
	display: block;
	max-width: 100%;
	max-height: 20%;
	padding: 20px;
	
	
}

footer .rodape img {
	max-width: 960px;
	width:10%;
	
}

footer .rodape .copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}


/* Fim Rodapé*/